@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Inter Tight", sans-serif;
    scrollbar-width: thin;
  }

  *::selection {
    @apply bg-primary-600;
    color: white;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-md bg-slate-200 hover:bg-slate-400 active:bg-primary-400;
  }
}
